body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topHeader {

    flex-direction: row;
    width: 100%;
    display: flex;
}

.logo {
    margin-left: 50px;
    display: inline;
}

.navBar {
    padding: 10px;
    background: #333;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.Items ul {
    display: flex;
    flex-direction: row;
}

.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Items ul li {

    display: inline;
    margin: 50px;
    color:antiquewhite

}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;

}

.topImg {
    margin: 25px;
}

.deck {
    display: flex;
    flex-direction: row;

}

.deck img {
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 965px;
    padding: 15px;
}
.content article p { overflow: scroll;
    height: 200px;

}

footer {
    background: #333;
    height: 70px;
    width: 100%;
}

article {
    padding: 20px;
}

header h2 {
    font-weight: bold;
    padding-left: 20px;
}

nav ul li {
    display: flex;
    padding-left: 20px;
}